<h1 mat-dialog-title>Ajouter Employe Form</h1>
<form #form="" class="row g-3" (ngSubmit)="add(form)">
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Nom">
    
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="Prénom">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
       
      </mat-form-field>


     <mat-form-field appearance="outline">
        <mat-label>Nationalite</mat-label>
        <input matInput placeholder="nationalité">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>departement</mat-label>
        <mat-select>
            <mat-option value="one">Informatique</mat-option>
            <mat-option value="two">business</mat-option>
            <mat-option value="tree">santé</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Type contrat :</mat-label>
        <mat-select>
          <mat-option value="one">CDI</mat-option>
          <mat-option value="two">CDD</mat-option>
          <mat-option value="tree">Alternance</mat-option>
        </mat-select>
     </mat-form-field>

     <mat-form-field appearance="fill">
        <mat-label>Date début </mat-label>
        <input matInput [matDatepicker]="picke">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picke"></mat-datepicker-toggle>
        <mat-datepicker #picke></mat-datepicker>
       
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date fin</mat-label>
        <input matInput [matDatepicker]="pick">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pick"></mat-datepicker-toggle>
        <mat-datepicker #pick></mat-datepicker>
       
      </mat-form-field>
</div>
<div mat-dialogue-action  [align]="'end'" >
<button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
<button style="margin-left:8px" mat-raised-button color="primary">Ajouter</button>
</div>
</form>