<mat-nav-list>
    <div class="profile-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShN0nuLT7HIpIANuDi6wbMKpeuCgZsl2PtAA&usqp=CAU">
        <div class="header">
            <h2><b>ADMIN 1</b></h2>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader *ngIf="admin=='admin'">ADMIN :</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin"><mat-icon>home</mat-icon> Dashboard</a>
    <!--<a mat-list-item routerLinkActive="list-item-active" [matMenuTriggerFor]="menu1"><mat-icon>supervisor_account</mat-icon> Liste employer</a>
    <mat-menu #menu1="matMenu">
       
      </mat-menu>-->
    <mat-accordion *ngIf="admin=='admin'" >
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-icon>list</mat-icon>Liste Employe
          </mat-expansion-panel-header>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/listemployer"><mat-icon>note_add</mat-icon> Neaveau Employe </a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/employeAccepter"><mat-icon>done_outline</mat-icon>Employe accepter </a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/employeRefuser"><mat-icon>thumb_down</mat-icon>Employe refuser </a>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf="admin=='admin'">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
                <mat-icon>list</mat-icon>Liste Demande Congé
          </mat-expansion-panel-header>
          <a mat-list-item routerLinkActive="list-item-active"  routerLink="/admin/newdemande"><mat-icon>note_add</mat-icon> Nouveau Demande</a>
          <a mat-list-item routerLinkActive="list-item-active"  routerLink="/admin/demandeaccepter"><mat-icon>done_outline</mat-icon> Demandes Accepter</a>
          <a mat-list-item routerLinkActive="list-item-active"  routerLink="/admin/demanderefuser"><mat-icon>thumb_down</mat-icon> Demandes Refuser</a>
        </mat-expansion-panel>
    </mat-accordion>
   
      <!-- <h2 matSubheader>Utilisateur :</h2>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/demande"><mat-icon>launch</mat-icon>Demander un congé </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/user"><mat-icon>book</mat-icon> Mes Demandes</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/posts">Historique Demande</a> -->
    

    <!-- <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/contact">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a> -->
    <mat-accordion *ngIf="user=='user'">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
              <mat-icon>list</mat-icon>User
        </mat-expansion-panel-header>
        <a mat-list-item routerLinkActive="list-item-active"  routerLink="/admin/newdemande"><mat-icon>note_add</mat-icon> Nouveau Demande</a>
        <a mat-list-item routerLinkActive="list-item-active"  routerLink="/admin/demandeaccepter"><mat-icon>done_outline</mat-icon>Mes Demande </a>
        <a mat-list-item routerLinkActive="list-item-active"  routerLink="/admin/demanderefuser"><mat-icon>thumb_down</mat-icon> Mon Sold </a>
        <a mat-list-item routerLinkActive="list-item-active"  routerLink="/admin/demanderefuser"><mat-icon>thumb_down</mat-icon> Contact </a>
      </mat-expansion-panel>
    </mat-accordion>

 
</mat-nav-list>


