<mat-nav-list>
    <div class="profile-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShN0nuLT7HIpIANuDi6wbMKpeuCgZsl2PtAA&usqp=CAU">
        <div class="header">
            <h2><b>ADMIN 1</b></h2>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>ADMIN :</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin"><mat-icon>home</mat-icon> Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/listemployer"><mat-icon>supervisor_account</mat-icon> Liste employer</a>
    <a mat-list-item routerLinkActive="list-item-active" [matMenuTriggerFor]="menu" routerLink="/newdemande"><mat-icon>list</mat-icon> Demandes de congé</a>
    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLinkActive="list-item-active"  routerLink="/admin/newdemande"><mat-icon>note_add</mat-icon> Nouveau Demande</a>
        <a mat-menu-item routerLinkActive="list-item-active"  routerLink="/admin/demandeaccepter"><mat-icon>done_outline</mat-icon> Demandes Accepter</a>
        <a mat-menu-item routerLinkActive="list-item-active"  routerLink="/admin/demanderefuser"><mat-icon>thumb_down</mat-icon> Demandes Refuser</a>
        
      </mat-menu>
      <h2 matSubheader>Utilisateur :</h2>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/demande"><mat-icon>launch</mat-icon>Demander un congé </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/user"><mat-icon>book</mat-icon> Mes Demandes</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/posts">Historique Demande</a>
    
   
    

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/contact">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Test</a>
</mat-nav-list>