
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">saisie Votre Contart </h2>
              <p class="text-white-50 mb-5">Please enter your All the information !</p>
              <form #form="ngForm" class="form-check" (ngSubmit)="createContrat(form)">

                <div class="form-group col-md-4">
                  <label for="type_contrat">Type contrat </label>
                  <select name="id_typecontrat" class="form-control"   ngModel  required  #id_typecontrat="ngModel"   placeholder="id_typecontrat" >
                    <option selected *ngFor="let i of datatypecontat" value={{i.id_typecontrat}}> {{i.type}}</option>
                  </select>
                  
                </div>
                <br>
                <br>
           
              
              <div class="form-outline form-white mb-4" >
                <input type="date" class="form-control" ngModel  required  #date_debut="ngModel"  name="date_debut" placeholder="date_debut">
                <label class="form-label" for="typePasswordX">Date debut</label>
              </div>


              <div class="form-outline form-white mb-4">
                <input type="date" class="form-control" ngModel  required  #date_fin="ngModel"  name="date_fin" placeholder="date_fin">
                <label class="form-label" for="typePasswordX">Date Fin</label>
              </div>


             

<br>
<br>

              <div class="col-12">
                <button type="submit" [disabled]="form.invalid" class="btn btn-outline-light btn-lg px-5" >Inscrit !  </button>
              </div>

              

              
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>











