<h2>Contact</h2>

<mat-divider></mat-divider>
<div class="container">
    <div class="row">
    <div class="col-md-6 offset-md-3">
    <form><div class="form-group">
    <label for="Email">Email</label>
    <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"formControlName="Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
    <label for="fullname">Full Name</label>
    <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
    </div>
    <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control" formControlName="Comment" name="Comment">
    </textarea>
    </div>
    <button mat-raised-button color="primary">Envoyer</button>
    </form>
    </div>
    </div>
    </div>
   