<h2>Liste employer REFUSER</h2>

<mat-divider></mat-divider>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Prenom</th>
      <th scope="col">Nom</th>
      <th scope="col">Date de naissance</th>
      <th scope="col">Type_contrat</th>
      <th scope="col">  Action</th>
      <th scope="col">  Statut</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataArray ">
      <th scope="row">{{ row.id_utilisateur }}</th>
      <td>{{ row.prenom }}</td>
      <td>{{ row.nom }}</td>
      <td>{{ row.date_de_naissance | date: 'shortDate' }}</td>
      <td>{{ row.type }}</td>
      <td>
        <button mat-icon-button color="" ><mat-icon>remove_red_eye</mat-icon></button>
        <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
      </td>
      <td>
        <button mat-icon-button style="color : green"  (click)="accepter(row.id_utilisateur)"><mat-icon>check_circle</mat-icon></button>
    </tr>
  </tbody>
</table>


