<h1 mat-dialog-title>Ajouter Employe Form</h1>
<form #form="ngForm" class="row g-3" (ngSubmit)="addemploi(form)">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label" >cin</label>
    <input type="text" class="form-control" ngModel  required  #cin="ngModel"  name="cin" placeholder="cin">
    <div class="alert-danger"  *ngIf="cin.touched && cin.invalid"> remplissage de votre id est obligatoir !</div>
    
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label" >nome</label>
    <input type="text" class="form-control" ngModel  required  #nome="ngModel"  name="nome" placeholder="nome">
    <div class="alert-danger"  *ngIf="nome.touched && nome.invalid"> remplissage de votre id est obligatoir !</div>
    
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label" >prenom</label>
    <input type="text" class="form-control" ngModel  required  #prenom="ngModel"  name="prenom" placeholder="prenom">
    <div class="alert-danger"  *ngIf="prenom.touched && prenom.invalid"> remplissage de votre id est obligatoir !</div>
    
  </div>


  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"   >date_de_naissance     :</label> 
    <input type="date"  ngModel #date_de_naissance="ngModel" required name="date_de_naissance" placeholder="date_de_naissance">
    <div class="alert-danger" *ngIf="date_de_naissance.touched  && date_de_naissance.invalid "> remplissage de votre date debut est obligatoir !</div>
    
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label" >nationatily</label>
    <input type="text" class="form-control" ngModel  required  #nationatily="ngModel"  name="nationatily" placeholder="nationatily">
    <div class="alert-danger"  *ngIf="nationatily.touched && nationatily.invalid"> remplissage de votre id est obligatoir !</div>
    
  </div> <div class="col-md-6">
    <label for="inputEmail4" class="form-label" >Departement </label>
    <input type="text" class="form-control" ngModel  required  #Departement="ngModel"  name="Departement" placeholder="Departement">
    <div class="alert-danger"  *ngIf="Departement.touched && Departement.invalid"> remplissage de votre id est obligatoir !</div>
    
  </div> 

  <div class="form-group col-md-4">
    <label for="type_contrat">type_contrat</label>
    <select name="type_contrat" class="form-control"   ngModel  required  #type_contrat="ngModel"   placeholder="type_contrat" >
      <option selected>CDD</option>
      <option selected>CDI</option>
      <option selected>ALTERNANCE</option>
   
    </select>
    <div class="alert-danger"  *ngIf="type_contrat.touched && type_contrat.invalid"> remplissage de votre id est obligatoir !</div>
  </div>
  
  <div class="col-12">
      <label for="inputAddress" class="form-label"  >debutcontrat       :</label>
      <input type="date" ngModel #debutcontrat="ngModel" required  name="debutcontrat" placeholder="debutcontrat">
      <div class="alert-danger" *ngIf="debutcontrat.touched  && debutcontrat.invalid "> remplissage de votre date fin  est obligatoir !</div>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label"  >fincontrat       :</label>
      <input type="date" ngModel #fincontrat="ngModel" required  name="fincontrat" placeholder="fincontrat">
      <div class="alert-danger" *ngIf="fincontrat.touched  && fincontrat.invalid "> remplissage de votre date fin  est obligatoir !</div>
    </div>
  <div class="col-12">
    <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
    <button style="margin-left:8px" mat-raised-button color="primary"  [disabled]="form.invalid"    >Ajouter</button>
    <label for=""></label>
  </div>
</form>


