<h1 mat-dialog-title>Solde de conge </h1>
<form #form="ngForm"  class="row g-3" *ngFor="let row of dataArray ">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label" >nom</label>
    <input type="text" class="form-control" required  #nom="ngModel"  name="nom" placeholder="nom" ngModel="{{ row.nom }}" disabled>

    
  </div>

 
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"   >prenom :</label> 
    <input type="text" class="form-control" ngModel #prenom="ngModel" required name="prenom" placeholder="prenom" ngModel="{{ row.prenom  }}" disabled>
    
  </div>


  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"   >derinier conge a pris    :</label> 
    <input type="text" class="form-control" ngModel #date_miss="ngModel" required name="date_miss" placeholder="date_miss" ngModel="{{ row.date_miss }}" disabled>
    
  </div>

  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"   >Nombre de conge demander : </label> 
    <input type="text" class="form-control" ngModel #nbr_jours="ngModel" required name="nbr_jours" placeholder="nbr_jours" ngModel="{{ row.nbr_jours  }}" disabled>
    
  </div>

  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"   >Solde de Conge restant est     :</label> 
    <input type="text" class="form-control" ngModel #nbr_jours="ngModel" required name="nbr_jours_sold" placeholder="nbr_jours_sold" ngModel="{{ row.nbr_jours_sold }}" disabled>
    
  </div>

  <div class="col-12">
    <button type="button" class="btn btn-success" (click)="accepter(row.id_conge)" >Accepter</button><br><br>
    <button type="button" class="btn btn-danger" (click)="refuser(row.id_conge)">Refuser</button>
  </div>
</form>

