<h1 mat-dialog-title>Solde de conge </h1>
<form #form="ngForm"  class="row g-3"  *ngFor="let row of dataArray ">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label" >nom</label>
    <input type="text" class="form-control" required  #nom="ngModel"  name="nom" placeholder="nom" ngModel="{{ row.nom }}" disabled>

    
  </div>

 
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"   >prenom :</label> 
    <input type="text" class="form-control" ngModel #prenom="ngModel" required name="prenom" placeholder="prenom" ngModel="{{ row.prenom  }}" disabled>
    
  </div>


  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"   >derinier conge a pris    :</label> 
    <input type="text" class="form-control" ngModel #date_miss="ngModel" required name="date_miss" placeholder="date_miss" ngModel="{{ row.date_miss }}" disabled>
    
  </div>

  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"   >Nombre de conge demander : </label> 
    <input type="text" class="form-control" ngModel #nbr_jours="ngModel" required name="nbr_jours" placeholder="nbr_jours" ngModel="{{ row.nbr_jours  }}" disabled>
    
  </div>

  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"   >Solde de Conge restant est     :</label> 
    <input type="text" class="form-control" ngModel #nbr_jours="ngModel" required name="nbr_jours_sold" placeholder="nbr_jours_sold" ngModel="{{ row.nbr_jours_sold }}" disabled>
    
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">motif : </label>
    <textarea class="form-control" id="motif" rows="3"   ngModel  required  #motif="ngModel"  name="motif" placeholder="motif"></textarea>
  </div>
  <div class="col-12"style="margin-left:225px">
    <button mat-raised-button color="warn" (click)="refuser(row.id_conge,form)">Refuser</button>
    <button style="margin-left:8px;background-color:green;color:white" mat-raised-button  (click)="accepter(row.id_conge,form)">Accepter</button>
    <label for=""></label>
  </div>
</form>

