

<br>

<mat-divider></mat-divider>

<br>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </mat-card>
    <mat-card fxFlex="25">
        <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </mat-card>
    <mat-card fxFlex="25">
        <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </mat-card>
    <mat-card fxFlex="25">
        <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
    </mat-card>
</div>

<br>

<br>

<div>
    LINE SHARTS
</div>



<div>
    <div>line sharts </div>
    <div>line sharts </div>
    <div>line sharts </div>
    <div>line sharts </div>
    <div>line sharts </div>
</div>


<div>
    <div>table </div>
    <div>pie shirt </div>
   
</div>
