<h2>Liste de demande congé</h2>

<mat-divider></mat-divider>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">type de congé</th>
      <th scope="col">Date début </th>
      <th scope="col">Date Fin</th>
      <th scope="col">Nombre de jour</th>
      <th scope="col"> Statut </th>
    </tr>
  </thead>
  <tbody>
 
    <tr>
      <th scope="row">1</th>
      <td>Congé sans solde</td>
      <td>09/10/2022</td>
      <td>19/10/2022</td>
      <td>10 Jour</td>
      <td>
        <button mat-icon-button class="text-warning"><mat-icon>refresh</mat-icon>En attend </button><br>
        <button mat-icon-button class="text-success"><mat-icon>check_circle</mat-icon>Accepter</button><br>
        <button mat-icon-button color="warn"><mat-icon>cancel</mat-icon>Refuser</button>
      </td>
    </tr>
  </tbody>
</table>


