


<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Create User</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>
              <form #form="ngForm" class="form-check" (ngSubmit)="creatuser(form)">


              <div class="form-outline form-white mb-4">
                <input type="text" class="form-control" ngModel  required  #username="ngModel"  name="username" placeholder="username">
                <label class="form-label" for="typeEmailX">Username</label>
              </div>
              
              <div class="form-outline form-white mb-4">
                <input type="text" class="form-control" ngModel  required  #email="ngModel"  name="email" placeholder="email">
                <label class="form-label" for="typePasswordX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" class="form-control" ngModel  required  #passeword="ngModel"  name="passeword" placeholder="passeword">
                <label class="form-label" for="typePasswordX">password</label>
              </div>


              <div class="form-outline form-white mb-4">
                <input type="text" class="form-control" ngModel  required  #nom="ngModel"  name="nom" placeholder="nom">
                <label class="form-label" for="typePasswordX">nom</label>
              </div>

              
              <div class="form-outline form-white mb-4">
                <input type="text" class="form-control" ngModel  required  #prenom="ngModel"  name="prenom" placeholder="prenom">
                <label class="form-label" for="typePasswordX">prenom</label>
              </div>


              <div class="form-outline form-white mb-4">
                <input type="date" class="form-control" ngModel  required  #date_de_naissance="ngModel"  name="date_de_naissance" placeholder="date_de_naissance">
                <label class="form-label" for="typePasswordX">date_de_naissance</label>
              </div>


              <div class="form-group col-md-4">
                <label for="type_contrat">Role</label>
                <select name="id_role" class="form-control"   ngModel  required  #id_role="ngModel"   placeholder="id_role" >
                  <option selected *ngFor="let i of datarole" value={{i.id_role}}> {{i.type_role}}</option>
                </select>
                
              </div>



              <div class="col-12">
                <button type="submit" [disabled]="form.invalid" class="btn btn-outline-light btn-lg px-5"  >Next</button>
              </div>

              

              
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>











