<h2>Profil</h2>
<mat-divider></mat-divider>
<section>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">John Smith</h5>
              <p class="text-muted mb-1">Directeur génerale</p>
              <p class="text-muted mb-4">Paris Rue du louvre 75001 </p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nom complet</p>
                </div>
                <div class="col-sm-9">
                    <input type="text"  ngModel #nbr_jours="ngModel" required name="nom_complet"  disabled>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                    <input type="mail"  ngModel #nbr_jours="ngModel" required name="mail"  disabled>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">username</p>
                </div>
                <div class="col-sm-9">
                    <input type="text"  ngModel #nbr_jours="ngModel" required name="mail"  disabled>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Password</p>
                </div>
                <div class="col-sm-9">
                    <input type="password"  ngModel #nbr_jours="ngModel" required name="mail"  disabled>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Changer le password</p>
                </div>
                <div class="col-sm-9">
                    <input type="password"  ngModel #nbr_jours="ngModel" required name="mail"  disabled>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Date de naissance</p>
                </div>
                <div class="col-sm-9">
                    <input type="mail"  ngModel #nbr_jours="ngModel" required name="mail"  disabled>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Rue de louvre Paris 75001</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

 </section>
