<h2>Liste employer</h2>

<mat-divider></mat-divider>

<div  fxLayoutAlign="flex-end" class="btn">
    <button mat-raised-button color="primary" (click)="openDialog()">
        <mat-icon>person_add</mat-icon> Ajouter Employer
    </button>
</div>

<main style="margin-top: 58px">
  <div class="container pt-4">
    <section class="mb-4">
      <div class="card">
        <div class="card-header text-center py-3">
          <h5 class="mb-0 text-center">
            <strong>Liste d'emploiyer Existance </strong>
          </h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            
            <table class="table table-hover text-nowrap">
              <thead class="thead-dark">
                <tr>
                 
                  <th scope="col">id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Prenome</th>
                  <th scope="col">Date De Naissance</th>
                  <th scope="col">Nationatily</th>
                  <th scope="col" >Poste</th>
                  <th scope="col">type_contrat</th>
                  <th scope="col">debutcontrat</th>
                  <th scope="col">fincontrat</th>
                  <th scope="col">iduser</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of dataArray">
                 
                  <th cope="row">{{i._id}}</th>
                  <td>{{i.nome}}</td>
                  <td>{{i.prenom}}</td>
                  <td>{{i.date_de_naissance}}</td>
                  <td>{{i.nationatily}}</td>
                  <td >{{i.post}}</td>
                  <th scope="col" *ngIf="i.type_contrat=='cdi'">{{i.type_contrat}}</th>
                  <td>{{i.debutcontrat}}</td>
                  <td>{{i.fincontrat}}</td>
                  <td>{{i.iduser}}</td>
                  
               
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>



