<h2>Demandes de congé ACCEPTER</h2>

<mat-divider></mat-divider>
<mat-divider></mat-divider>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id_conge</th>
      <th scope="col">Nom complet</th>
      <th scope="col">date_demande</th>
      <th scope="col">nbr_jours</th>
      <th scope="col">date_debut_conge</th>
      <th scope="col">motif</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of arraylist ">
        <td>{{i.id_conge}}</td>
        <td>{{i.nom }} {{i.prenom}}</td>
        <td>{{i.date_demande | date : "MM/dd/yy"}}</td>
        <td>{{i.nbr_jours }}</td>
        <td>{{i.date_debut_conge | date : "MM/dd/yy"}}</td>
        <td>{{i.motif }}</td>
        <td><button mat-icon-button color="primary" (click)="openDialog(i.id_utilisateur)"><mat-icon>remove_red_eye</mat-icon></button></td>
    </tr>
  </tbody>
</table>