<main style="margin-top: 58px">
  <div class="container pt-4">
    <section class="mb-4">
      <div class="card">
        <div class="card-header text-center py-3">
          <h5 class="mb-0 text-center">
            <strong>Conge Refuser </strong>
          </h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover text-nowrap">
              <thead class="thead-dark">
                <tr>
                 
                  <th scope="col">id_conge</th>
                  <th scope="col">date_demande</th>
                  <th scope="col">nbr_jours</th>
                  <th scope="col">date_debut_conge</th>
                  <th scope="col">id_utilisateur</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of arraylist">
                 
                  
                 
                  <td>{{i.id_conge}}</td>
                  <td>{{i.date_demande | date : "MM/dd/yy"}}</td>
                  <td>{{i.nbr_jours }}</td>
                  <td>{{i.date_debut_conge | date : "MM/dd/yy"}}</td>
                  <td><a>{{i.id_utilisateur }}</a></td>
              
                 
                  
               
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>



